@import "../../styles/mixins";
@import "../../styles/partials";
@import "../../styles/variables";

.warehouse {
	position: relative;
	top: -52px;
	@include tablet {
		top: -95px;
	}
	&__block {
		width: 90vw;
		margin: auto;
		background-color: $white;
		box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
		border-radius: 3px;
		@include tablet {
			width: 91.5vw;
		}
		@include desktop {
			width: 80vw;
		}
		&-header {
			@include flex(row, flex-start, center);
			padding: 32px 24px 24px 24px;
			border-bottom: 1px solid $outlines-fill;
			@include tablet {
				padding: 32px 36px 24px 36px;
			}
			@include desktop {
				padding: 32px 44px 24px 44px;
			}
			&-back {
				background: none;
				border: none;
				cursor: pointer;
			}
			&-title {
				font-family: $titillum-reg;
				font-size: 2.8rem;
				flex-grow: 1;
				padding: 0 12px;
				@include tablet {
					font-size: 3.2rem;
				}
			}
			&-edit {
				background-color: $interactive-elements-fill;
				border: none;
				cursor: pointer;
				width: 37px;
				height: 37px;
				vertical-align: baseline;
				border-radius: 50%;
				position: relative;
				@include tablet {
					width: 82px;
					height: 38px;
					border-radius: 20px;
				}
				&-svg {
					position: absolute;
					top: 6px;
					left: 7px;
					@include tablet {
						top: 7px;
						left: 11px;
					}
				}
				&-svg > path {
					fill: $white;
				}
				&-text {
					display: none;
					@include tablet {
						display: inline-block;
						position: relative;
						left: 12px;
						color: $text-color-nav-active;
						font-family: $titillium-semibold;
						font-size: 1.4rem;
						line-height: 2.2rem;
					}
				}
			}
		}
		&-main {
			padding: 16px 24px 16px 24px;
			@include tablet {
				@include flex(row, space-between, flex-start);
				padding: 24px 32px 24px 32px;
			}
			@include desktop {
				padding: 24px 44px 24px 44px;
			}
			&-address {
				padding-bottom: 16px;
				@include tablet {
					border-right: 1px solid $outlines-fill;
					width: 33%;
					padding-bottom: 0;
				}
				&-block {
					width: 50%;
					@include tablet {
						width: auto;
					}
					&-title {
						font-family: $titillum-reg;
						padding: 0 0 4px 0;
						font-size: 1.1rem;
						line-height: 1.6rem;
						text-transform: uppercase;
						color: $table-column-header;
						@include tablet {
							font-size: 1.2rem;
							line-height: 1.8rem;
						}
					}
					&-street {
						font-family: $titillum-reg;
						color: $primary-text-color;
						font-style: normal;
						font-size: 1.3rem;
						line-height: 2rem;
						@include tablet {
							font-size: 1.4rem;
						}
					}
				}
			}
			&-contact {
				@include flex(row, space-between, center);
				@include tablet {
					flex-grow: 1;
					width: 66%;
					// @include flex(column, flex-start, flex-start);
					padding-left: 40px;
				}
				&-name {
					width: 50%;
					&-title {
						@extend .warehouse__block-main-address-block-title;
					}
					&-detail > p {
						@extend .warehouse__block-main-address-block-street;
					}
				}
				&-info {
					width: 50%;
					&-title {
						@extend .warehouse__block-main-contact-name-title;
						padding: 0 0 4px 0;
					}
					&-details > a {
						@extend .warehouse__block-main-address-block-street;
						font-style: normal;
					}
				}
			}
		}
	}
}

.inventory-component--warehouse {
	border-top: 1px solid $outlines-fill;
}
