@import '../../styles/mixins';
@import '../../styles/partials';
@import '../../styles/typography';
@import '../../styles/variables';

.warehouseDelete{
    // Styling for tinted background
    background-color: rgba(19, 24, 44, 0.7);
    z-index: 999;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    &__divs-container {
        background-color: $data-list-background;
        box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
        border-radius: 0;
        padding: 0 16px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__div1{
        padding-top: 24px;

        &-close{         
            display:flex;
            justify-content:flex-end;
            &-image{
                cursor: pointer;
                max-width: 20px;
                max-height: 20px;
            }
        }

        &-block{

            &-title{
                font-family: $titillium-semibold;
                font-weight: 600;
                font-size: 28px;
                line-height: 36px;
                margin-bottom: 16px;
            }
            &-text{
                font-family: $titillum-reg;
                font-size: 15px;
                line-height: 26px;
            }

        }
    }

    &__div2{
        width:100%;
        padding-bottom: 24px;
        display:flex;

        &-button{
            border-radius: 20px;
            height:36px;
            width:49%;
            font-family: $titillum-reg;
        }
        &-cancel{
            cursor: pointer;
            margin-right: 16px;
            border:1px solid #BDC5D5;
            background-color: $cancel-button;
            color: #5C667E;
            font-weight: 600;
            font-size: 13px;
            line-height: 20px;

            &:hover {
                background-color: $cancel-button-hover;
            }
        }

        &-delete{
            cursor: pointer;
            margin-left: 16px;
            border: none;
            background-color: $red-button-bg;
            color: #FFFFFF;
            font-weight: 600;
            font-size: 13px;
            line-height: 20px;

            &:hover {
                background-color: $red-button-bg-hover;
            }
        }
    }
}

@include tablet{
    .warehouseDelete{
        &__divs-container {
            border-radius: 3px;
            position:absolute;

            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            width:672px;
            height:272px;
        }

        &__div2{
            display:flex;
            justify-content: flex-end;

            &-button{
                height:38px;
                width:71px;
            }
        }
    }
}

@include desktop{
    .warehouseDelete{
        &__divs-container {
            position: absolute;
        }
    }

}