@import "../../styles/mixins";
@import "../../styles/partials";
@import "../../styles/variables";

.item {
	position: relative;
	top: -52px;
	&__block {
		width: 90vw;
		margin: auto;
		background-color: $white;
		min-height: 365px;
		box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
		border-radius: 3px;
		&-header {
			@include flex(row, flex-start, center);
			padding: 32px 24px 24px 24px;
			border-bottom: 1px solid $outlines-fill;
			&-back {
				width: 20px;
			}
			&-title {
				font-family: $titillum-reg;
				font-size: 2.8rem;
				flex-grow: 1;
				padding: 0 12px;
			}
			&-edit {
				width: 20px;
			}
		}
		&-main {
			padding: 0 24px 16px 16px;
			&-desc {
				&-top {
					&-title {
						font-family: $titillum-reg;
						padding: 16px 0 4px 0;
						font-size: 1.2rem;
						line-height: 1.6rem;
						text-transform: uppercase;
						color: $table-column-header;
					}
					&-detail {
						font-family: $titillum-reg;
						color: $primary-text-color;
						font-size: 1.3rem;
						line-height: 2rem;
						&--extended {
						}
					}
				}
				&-type {
					&-title {
						@extend .item__block-main-desc-top-title;
					}
					&-text {
						@extend .item__block-main-desc-top-detail;
					}
				}
			}
			&-info {
				@include flex;
				flex-wrap: wrap;
				&-block {
					width: 50%;
					&-title {
						@extend .item__block-main-desc-top-title;
					}
					&-text {
						@extend .item__block-main-desc-top-detail;
						&--stock {
							padding: 4px 8px;
							display: inline-block;
							border-radius: 20px;
							font-size: 1.1rem;
							text-transform: uppercase;
							background-color: $stock-status-background;
							color: $out-of-stock-label;
							&-in {
								color: $in-stock-label;
							}
						}
					}
				}
			}
		}
	}
}
