@import 'variables';

%button-standard {
    background-color: $interactive-elements-fill;
    height: 36px;
    border-radius: 20px;
    border-style: none;

    // Button text
    color: $white;
    font-family: $titillum-reg;
    font-size: 1.3rem;
    line-height: 20px;

    &:hover {
        background-color: $interactive-elements-fill-hover;
    }
}


// SEARCH FIELD - Extend all three of the following (search, field, icon)
%search {
    position: relative;
}

%search-input-field {
    background-color: $white;
    border: 1px solid #BDC5D5;
    border-radius: 20px;
    box-sizing: border-box;
    height: 36px;
    padding: 0 0 0 16px;

    // Placeholder text
    color: $placeholder-text;
    font-family: $titillum-reg;
    font-size: 1.3rem;
    line-height: 20px;
}

%search-input-field-icon {
    height: 17.5px;
    width: 17.5px;
    position: absolute;
    top: 9px;
    right: 15px;
}