@font-face {
  font-family: 'Titillium Web Regular';
  src: url("../assets/fonts/TitilliumWeb-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Titillium Web Semi-Bold';
  src: url("../assets/Fonts/Avenir_Demi-Bold.otf") format("truetype");
  font-weight: 600;
  font-style: normal;
}