//------------------------------
// Breakpoints
//------------------------------
$desktop-breakpoint: 1200px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 320px;

//------------------------------
// Fonts
//------------------------------
$titillum-reg: 'Titillium Web Regular';
$titillium-semibold: 'Titillium Web Semi-Bold';

//------------------------------
// Sizing (margins, etc.)
//------------------------------


//------------------------------
// Color palette
//------------------------------

// Text variables
$in-stock-label: #158463;
$link-text: #2E66E6;
$out-of-stock-label: #C94515;
$placeholder-text: #5C667E;                       
$primary-text-color: #13182C;
$table-column-header: #5C667E; 

// Fills
$cta-background: #F7F8F9;
$cta-button-hover-background: #232940;
$data-list-background: #FFFFFF;
$interactive-elements-fill: #2E66E5;
$interactive-elements-fill-hover: #193f99;
$outlines-fill: #BDC5D5;
$page-background: #F7F8F9;
$table-column-header-background: #F7F8F9;
$top-nav-background: #232940;
$white: #FFFFFF;

