//------------------------------
// Breakpoints
//------------------------------
$desktop-breakpoint: 1200px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 320px;

//------------------------------
// Fonts
//------------------------------
$titillum-reg: "Titillium Web Regular";
$titillium-semibold: "Titillium Web Semi-Bold";

//------------------------------
// Sizing (margins, etc.)
//------------------------------

//------------------------------
// Color palette
//------------------------------

// Text variables
$in-stock-label: #158463;
$link-text: #2e66e6;
$out-of-stock-label: #c94515;
$placeholder-text: #5c667e;
$primary-text-color: #13182c;
$table-column-header: #5c667e;
$text-color-nav-active: #ffffff;
$text-color-nav-inactive: #bdc5d5;

// Fills
$cancel-button: #ffffff;
$cancel-button-hover: #ececec;
$cta-background: #f7f8f9;
$cta-button-hover-background: #232940;
$data-list-background: #ffffff;
$data-list-background-hover: #f0f4fd;
$interactive-elements-fill-hover: #193f99;
$interactive-elements-fill: #2e66e5;
$outlines-fill: #bdc5d5;
$page-background: #f7f8f9;
$red-button-bg: #c94515;
$red-button-bg-hover: #8b2a07;
$table-column-header-background: #f7f8f9;
$top-nav-background: #232940;
$white: #ffffff;
$black: #13182c;
$stock-status-background: #eef6f4;
$stock-status-background-out: #fbf2ee;
